# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Brian Pugh
email = bnp117@gmail.com
[init]
    defaultBranch = main
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[alias]
    # Deletes all merged branches
    cleanup = !"git branch --merged | grep -vE 'main|master|dev|develop|development|prod|production\\*' | xargs -n 1 git branch -D && git branch"
    # Squashes repo into a single commit.
    squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-Public release.}\");};f"
    # Delete a remote tag
    deltag = !sh -c 'git tag -d $1 && git push origin :refs/tags/$1' -
    # Resolve poetry.lock merge conflicts
    resolve-poetry = !"git checkout --theirs poetry.lock && poetry lock --no-update && poetry install && git add poetry.lock"
[push]
    autoSetupRemote = true
[core]
    pager = delta --line-numbers --dark
[delta]
    side-by-side = true
