# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Brian Pugh
email = bnp117@gmail.com
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	cleanup = !"git branch --merged | grep -vE 'main|master|dev|develop|development|prod|production\\*' | xargs -n 1 git branch -D && git branch"
